<include file="./Application/Admin/View/public/header.html" title="玩家在线图表" />
    <body>
        <include file="./Application/Admin/View/public/nav.html"  />
        <div class="wrapper">
            <div class="container" style="width: 98%">
                <div class="row">
                    <include file="./Application/Admin/View/public/left.html"  />
                    <!--/.span3-->
                    <div class="span9" style="width: 82%">

                        <div class="content">
                        <div class="module">
							<div class="module-head">
								<h3>日总活跃图表</h3>
							</div>

							<div class="module-body table">


                                <form method="get" action="__URL__/active" name="plat_form">
                                    <div class="case" style="padding-left: 15px; margin-bottom: 10px; font-size: 13px">
                                        选择日期：
                                        <input type="text" name="stime"  value="{$Think.session.active_stime}"  style="width:100px;height:25px;" id="ECalendar_case1" /> -
                                        <input type="text" name="etime"  value="{$Think.session.active_etime}"  style="width:100px;height:25px;" id="ECalendar_case2"	/>
                                        <input type="submit" class="btn btn-mini btn-info godate" value="查询指定日期"/>
                                    </div>
                                </form>

                                <div id="main" style="width: 100%;height:500px; margin-left: -5%"></div>

							</div>
						</div><!--/.module-->

                           </div> 
                        <!--/.content-->

                    </div>
                    <!--/.span9-->
                    
                   
                </div>
            </div>
            <!--/.container-->
        </div>
        <!--/.wrapper-->

        <div class="footer">
            <div class="container" style="width: 95%">
                <b class="copyright">&copy; 2018 后台管理系统 - 技术支持RyanLiu </b> - 备案信息：xxxxxxxx号
            </div>
        </div>
        <script src="__PUBLIC__/admin/scripts/jquery-1.9.1.min.js" type="text/javascript"></script>


        <script src="__PUBLIC__/admin/data/js/jquery.min.js"></script>
        <script src="__PUBLIC__/admin/data/js/Ecalendar.jquery.min.js"></script>
        <script type="text/javascript">


            $("#ECalendar_case1").ECalendar({
                type:"date",
                skin:"#233",
                offset:[0,2]
            });
            $("#ECalendar_case2").ECalendar({
                type:"date",
                skin:"#233",
                offset:[0,2]
            });

            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main'));

            $.get("__URL__/get_active",function(data){

                var arr = data.split(";");
                var date_arr = arr[0].split(",");
                var total_arr = arr[1].split(",");

                console.log(arr);
                // 指定图表的配置项和数据
                var option = {
                    title: {
                        text: '',
                        left: 'center'
                    },
                    tooltip: {},
                    legend: {
                        data:['活跃人数']
                    },
                    xAxis: {
                        type: 'category',
                        name: '时间',
                        data: date_arr
                    },
                    yAxis: {
                        name: '人数',
                        type: 'value'
                    },
                    series: [{
                        name: '活跃人数',
                        type: 'bar',
                        data: total_arr
                    }]
                };

                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);

            });



        </script>

        <script src="__PUBLIC__/admin/scripts/common.js" type="text/javascript"></script>
        <script src="__PUBLIC__/admin/scripts/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/admin/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/admin/scripts/flot/jquery.flot.js" type="text/javascript"></script>
        <script src="__PUBLIC__/admin/scripts/flot/jquery.flot.pie.js" type="text/javascript"></script>
        <script src="__PUBLIC__/admin/scripts/flot/jquery.flot.resize.js" type="text/javascript"></script>
        <script src="__PUBLIC__/admin/scripts/datatables/jquery.dataTables.js" type="text/javascript"></script>


    </body>
