<include file="./Application/Admin/View/public/header.html" title="自动点控配置" />
    <body>
        <include file="./Application/Admin/View/public/nav.html"  />
        <div class="wrapper">
            <div class="container" style="width: 95%">
                <div class="row">
                    <include file="./Application/Admin/View/public/left.html"  />
                    <!--/.span3-->
                    <div class="span9" style="width: 82%">
                        <div class="content">
                        <div class="module">
							<div class="module-head">
								<h3>自动点控配置</h3>
							</div>
							<div class="module-body table" style="float: left">


                                <form method="get" action="__URL__/auto_ctrl_update" name="player_list" style="height: 500px">
                                    开关：
                                    <select  name="flag">
                                    <if condition="$data[0][flag] eq 1">
                                        <option value="1"  selected = "selected">开</option>
                                        <option value="0">关</option>
                                        <else/>
                                        <option value="1">开</option>
                                        <option value="0" selected = "selected">关</option>
                                    </if>
                                    </select><br>

                                    点控完成自然日：
                                    <input type="number" value="{$data[0][daynum]}" name="daynum"/><br>

                                    系数X：
                                    <input type="number" value="{$data[0][x]}" name="x"/><br>

                                    <input type="submit" class="btn btn-mini btn-info godate" value="修改"/>

                                </form>
							</div>
						</div><!--/.module-->

                           </div> 
                        <!--/.content-->
                        <!--<a class="btn btn-mini btn-info" href="add_admin">添加管理员</a>-->
                    </div>
                    <!--/.span9-->
                    
                   
                </div>
            </div>
            <!--/.container-->
        </div>
        <!--/.wrapper-->
        <div class="footer">
            <div class="container" style="width: 95%">
                <b class="copyright">&copy; 2018 后台管理系统 - 技术支持RyanLiu </b> - 备案信息：xxxxxxxx号
            </div>
        </div>
        <script src="__PUBLIC__/admin/scripts/jquery-1.9.1.min.js" type="text/javascript"></script>


        <script src="__PUBLIC__/admin/data/js/jquery.min.js"></script>
        <script src="__PUBLIC__/admin/data/js/Ecalendar.jquery.min.js"></script>
        <script type="text/javascript">


            $("#ECalendar_case1").ECalendar({
                type:"date",
                skin:"#233",
                offset:[0,2]
            });
            $("#ECalendar_case2").ECalendar({
                type:"date",
                skin:"#233",
                offset:[0,2]
            });




        </script>

        <script src="__PUBLIC__/admin/scripts/common.js" type="text/javascript"></script>
        <script src="__PUBLIC__/admin/scripts/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/admin/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/admin/scripts/flot/jquery.flot.js" type="text/javascript"></script>
        <script src="__PUBLIC__/admin/scripts/flot/jquery.flot.pie.js" type="text/javascript"></script>
        <script src="__PUBLIC__/admin/scripts/flot/jquery.flot.resize.js" type="text/javascript"></script>
        <script src="__PUBLIC__/admin/scripts/datatables/jquery.dataTables.js" type="text/javascript"></script>




</body>
