<include file="./Application/Admin/View/public/header.html" title="接收为0列表" />
    <body>
        <include file="./Application/Admin/View/public/nav.html"  />
        <div class="wrapper">
            <div class="container" style="width: 95%">
                <div class="row">
                    <include file="./Application/Admin/View/public/left.html"  />
                    <!--/.span3-->
                    <div class="span9" style="width: 82%">
                        <div class="content">
                        <div class="module">
							<div class="module-head">
								<h3>玩家列表</h3>
							</div>
							<div class="module-body table">

                                <form method="get" action="__URL__/get_buy_zero" name="plat_form">
                                    <div class="case" style="padding-left: 15px; margin-bottom: 10px; font-size: 13px">
                                        选择日期：
                                        <input type="text" name="stime"  value="{$Think.session.zc_stime}"  style="width:100px;height:25px;" id="ECalendar_case1" /> -
                                        <input type="text" name="etime"  value="{$Think.session.zc_etime}"  style="width:100px;height:25px;" id="ECalendar_case2"	/>
                                        <input type="submit" class="btn btn-mini btn-info godate" value="查询指定日期"/>
                                    </div>
                                </form>

								<table cellpadding="0" cellspacing="0" border="0" class=" table table-bordered table-striped display" width="100%">
									<thead>
										<tr>
											<th>玩家ID</th>
                                            <th>首选房间</th>
                                            <th>最后登录IP</th>
                                            <th>关联IP数</th>
                                            <th>操作</th>

                                        </tr>
									</thead>
									<tbody>

                                    <notempty name="data">
                                    <foreach name="data" item="vo">                                    <tr >

                                        <if condition="$Think.session.power.link_user eq 1">
                                            <td><a href="__URL__/player_list?detail_id={$vo.userid}" class="userids">{$vo.userid}</a></td>

                                            <else/>
                                            <td>{$vo.userid}</td>
                                        </if>
                                        <td>{$vo.roomname}</td>
                                        <td>{$vo.ip}</td>
                                        <td><a href="__URL__/ip_relation?ip={$vo.ip}">{$vo.ip_count}</a>
                                        </td>
                                        <td><a href="__URL__/lot_ip_unlogin?ip={$vo.ip}">批量禁止该IP登录</a>，
                                            <a href="__URL__/lot_ip_dologin?ip={$vo.ip}">批量解锁登录</a>
                                        </td>

                                    </tr>
                                    </foreach>
                                        <else/>
                                        <td colspan="13">没有数据，请输入一个玩家ID！</td>
                                    </notempty>

									</tbody>

								</table>
                                <form method="get" action="__URL__/get_buy_zero" name="player_list" style="float: right;">
                                    跳转到：
                                    <input type="number" name="p"  style="width:50px;height:20px;"/>


                                    页
                                    <input type="submit" class="btn btn-mini btn-info godate" value="跳转"/>

                                </form> <div class="pages" style="">{$page}</div>
							</div>
						</div><!--/.module-->

                           </div> 
                        <!--/.content-->
                        <!--<a class="btn btn-mini btn-info" href="add_admin">添加管理员</a>-->
                    </div>
                    <!--/.span9-->
                    
                   
                </div>
            </div>
            <!--/.container-->
        </div>
        <!--/.wrapper-->
        <div class="footer">
            <div class="container" style="width: 95%">
                <b class="copyright">&copy; 2018 后台管理系统 - 技术支持RyanLiu </b> - 备案信息：xxxxxxxx号
            </div>
        </div>
        <script src="__PUBLIC__/admin/scripts/jquery-1.9.1.min.js" type="text/javascript"></script>


        <script src="__PUBLIC__/admin/data/js/jquery.min.js"></script>
        <script src="__PUBLIC__/admin/data/js/Ecalendar.jquery.min.js"></script>
        <script type="text/javascript">


            $("#ECalendar_case1").ECalendar({
                type:"date",
                skin:"#233",
                offset:[0,2]
            });
            $("#ECalendar_case2").ECalendar({
                type:"date",
                skin:"#233",
                offset:[0,2]
            });

            $(".userids").each(function(){
                var a = $(this).text()
                $(this).text(parseInt(a)+10000)
            });



        </script>

        <script src="__PUBLIC__/admin/scripts/common.js" type="text/javascript"></script>
        <script src="__PUBLIC__/admin/scripts/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/admin/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/admin/scripts/flot/jquery.flot.js" type="text/javascript"></script>
        <script src="__PUBLIC__/admin/scripts/flot/jquery.flot.pie.js" type="text/javascript"></script>
        <script src="__PUBLIC__/admin/scripts/flot/jquery.flot.resize.js" type="text/javascript"></script>
        <script src="__PUBLIC__/admin/scripts/datatables/jquery.dataTables.js" type="text/javascript"></script>




</body>
