<include file="./Application/Admin/View/public/header.html" title="金币变动记录" />
    <body>
        <include file="./Application/Admin/View/public/nav.html"  />
        <div class="wrapper">
            <div class="container" style="width: 95%">
                <div class="row">
                    <include file="./Application/Admin/View/public/left.html"  />
                    <!--/.span3-->
                    <div class="span9" style="width: 82%">
                        <div class="content">
                        <div class="module">
							<div class="module-head">
								<h3>金币变动记录</h3>
							</div>
							<div class="module-body table">
                                <form method="get" action="__URL__/player_gold_change_log" name="player_list">
                                    <div class="case" style="padding-left: 15px; margin-bottom: 10px; font-size: 13px">
                                        玩家ID：
                                        <input type="number" name="userid1" value="{$data[0][user_id]}"  style="width:150px;height:25px;"/>
										
										变动原因：
										<select name="tid">
											<option value=0>变动原因</option>
											<option value='35'>存入保险柜</option>
											<option value='36'>取出保险柜</option>
											<option value='1'>游戏</option>
											
										</select>
                                        <input type="submit" class="btn btn-mini btn-info godate" value="搜索玩家"/>
                                    </div>
                                </form>


								<table cellpadding="0" cellspacing="0" border="0" class=" table table-bordered table-striped display" width="100%">
									<thead>
										<tr>
											<th>玩家ID</th>
                                            <th>昵称</th>
                                            <th>变动前金币</th>
											<th>变动金币</th>
                                            <th>变动后金币</th>
                                            <th>变动原因</th>
                                            <th>游戏房间</th>
                                            <th>变动时间</th>


                                        </tr>
									</thead>
									<tbody>

                                    <notempty name="data">
                                    <foreach name="data" item="vo">                             <tr>

                                        <if condition="$Think.session.power.link_user eq 1">
                                            <td><a href="__URL__/player_list?detail_id={$vo.user_id}" class="userids">{$vo.user_id}</a></td>
                                            <td><a href="__URL__/player_list?detail_id={$vo.user_id}">{$vo.nickname}</a></td>
                                            <else/>
                                            <td>{$vo.user_id}</td>
                                            <td>{$vo.nickname}</td>
                                        </if>

                                        <td>{$vo.preamount}</td>
                                        <td>{$vo.amount}</td>
                                        <td>{$vo.aftamount}</td>
                                        <td>{$vo.reason}</td>
                                        <td>{$vo.roomname}</td>
                                        <td>{$vo.logtime}</td>

                                    </tr>
                                    </foreach>
                                        <else/>
                                        <td colspan="8">没有数据，请输入一个玩家ID！</td>
                                    </notempty>

									</tbody>

								</table>
                                <form method="get" action="__URL__/player_gold_change_log" name="player_list" style="float: right;">
                                    跳转到：
                                    <input type="hidden" name="pid" value="{$data[0].user_id}"  />

                                    <input type="number" name="p"  style="width:50px;height:20px;"/>

                                    页
                                    <input type="submit" class="btn btn-mini btn-info godate" value="跳转"/>

                                </form> <div class="pages" style="">{$page}</div>
							</div>
						</div><!--/.module-->

                           </div> 
                        <!--/.content-->
                        <!--<a class="btn btn-mini btn-info" href="add_admin">添加管理员</a>-->
                    </div>
                    <!--/.span9-->
                    
                   
                </div>
            </div>
            <!--/.container-->
        </div>
        <!--/.wrapper-->
         <include file="./Application/Admin/View/public/footer.html" name="管理员(请谨慎操作)？"/>
      
    </body>
