<include file="./Application/Admin/View/public/header.html" title="转账记录" />
    <body>
        <include file="./Application/Admin/View/public/nav.html"  />
        <div class="wrapper">
            <div class="container" style="width: 95%">
                <div class="row">
                    <include file="./Application/Admin/View/public/left.html"  />
                    <!--/.span3-->
                    <div class="span9" style="width: 82%">
                        <div class="content">
                        <div class="module">
							<div class="module-head">
								<h3>转账记录</h3>
							</div>
							<div class="module-body table">
                                <form method="get" action="__URL__/player_presents_log" name="player_list">
                                    <div class="case" style="padding-left: 15px; margin-bottom: 10px; font-size: 13px">
                                        玩家ID：
                                        <input type="number" name="p_userid"  style="width:150px;height:25px;"/>




                                        <if condition="$Think.session.zz_type eq 'v2v'">
                                            <input type="radio" style="margin: 10px" name="zz_type" value="v2v" checked="checked" >
                                            <span style="color:dodgerblue; font-weight: bolder">VIP转VIP</span>
                                            <else/>
                                            <input type="radio" style="margin: 10px" name="zz_type" value="v2v">VIP转VIP
                                        </if>

                                        <if condition="$Think.session.zz_type eq 'p2p'">
                                            <input type="radio" style="margin: 5px 5px 5px 20px;" class="rd" name="zz_type" value="p2p" checked="checked">
                                            <span style="color:dodgerblue;font-weight: bolder">玩家转玩家</span>
                                            <else/>
                                            <input type="radio" style="margin: 5px 5px 5px 20px;" class="rd" name="zz_type" value="p2p" >玩家转玩家
                                        </if>

                                        <if condition="$Think.session.zz_type eq 'p2v'">
                                            <input type="radio" style="margin: 5px 5px 5px 20px;" class="rd" name="zz_type" value="p2v" checked="checked">
                                            <span style="color:dodgerblue;font-weight: bolder">玩家转VIP</span>
                                            <else/>
                                            <input type="radio" style="margin: 5px 5px 5px 20px;" class="rd" name="zz_type" value="p2v" >玩家转VIP
                                        </if>

                                        <if condition="$Think.session.zz_type eq 'v2p'">
                                            <input type="radio" style="margin: 5px 5px 5px 20px;" class="rd" name="zz_type" value="v2p" checked="checked">
                                            <span style="color:dodgerblue;font-weight: bolder">VIP转玩家</span>
                                            <else/>
                                            <input type="radio" style="margin: 5px 5px 5px 20px;" class="rd" name="zz_type" value="v2p" >VIP转玩家
                                        </if>


                                        <a href="__URL__/player_presents_log?zz_type=all" style="padding-left: 20px; padding-right: 20px">所有 </a>


                                        <input type="submit" class="btn btn-mini btn-info godate" value="查询"/>
                                    </div>



                                </form>

								<table cellpadding="0" cellspacing="0" border="0" class=" table table-bordered table-striped display" width="100%">
									<thead>
										<tr>
											<th>赠送玩家ID</th>
                                            <th>昵称</th>
											<th>接收玩家ID</th>
                                            <th>昵称</th>
                                            <th>金币</th>
                                            <th>时间</th>
                                            <if condition="$Think.session.power.ud_roll_back eq 1">
                                            <th>操作</th>
											</if>

                                        </tr>
									</thead>
									<tbody>
                                    <notempty name="data">

                                    <foreach name="data" item="vo">                                    <tr >
                                        <if condition="$Think.session.power.link_user eq 1">
                                            <td><a href="__URL__/player_list?detail_id={$vo.userid}" class="userids">{$vo.userid}</a></td>
                                            <td><a href="__URL__/player_list?detail_id={$vo.userid}">{$vo.p_nick_name}</a></td>
                                            <td><a href="__URL__/player_list?detail_id={$vo.userid2}" class="userids2">{$vo.userid2}</a></td>
                                            <td><a href="__URL__/player_list?detail_id={$vo.userid2}">{$vo.r_nick_name}</a></td>
                                            <else/>
                                            <td>{$vo.userid}</td>
                                            <td>{$vo.p_nick_name}</td>
                                            <td>{$vo.userid2}</td>
                                            <td>{$vo.r_nick_name}</td>
                                        </if>



                                        <td>{$vo.score}</td>
                                        <td>{$vo.changedate}</td>
                                        <if condition="$Think.session.power.ud_roll_back eq 1">
                                        <td><a href="__URL__/roll_back?nindex={$vo.nindex}" id="goback">撤回</a></td>
                                        </if>
                                        <!--<td><a href="www.baidu.com" id="goback">撤回</a></td>-->

                                    </tr>
                                    </foreach>
                                        <else/>
                                        <td colspan="6">没有数据，请输入一个玩家ID！</td>
                                    </notempty>

									</tbody>

								</table>
                                <form method="get" action="__URL__/player_presents_log" name="player_list" style="float: right;">
                                    跳转到：
                                    

                                    <input type="number" name="p"  style="width:50px;height:20px;"/>

                                    <input type="hidden" name="zz_type" value="{$Think.session.zz_type}"/>
                                    页
                                    <input type="submit" class="btn btn-mini btn-info godate" value="跳转"/>

                                </form> <div class="pages" style="">{$page}</div>
							</div>
						</div><!--/.module-->

                           </div>
                        <!--/.content-->
                        <!--<a class="btn btn-mini btn-info" href="add_admin">添加管理员</a>-->
                    </div>
                    <!--/.span9-->
                    
                   
                </div>
            </div>
            <!--/.container-->
        </div>
        <!--/.wrapper-->
        <div class="footer">
            <div class="container" style="width: 95%">
                <b class="copyright">&copy; 2018 后台管理系统 - 技术支持RyanLiu </b> - 备案信息：xxxxxxxx号
            </div>
        </div>
        <script src="__PUBLIC__/admin/scripts/jquery-1.9.1.min.js" type="text/javascript"></script>


        <script src="__PUBLIC__/admin/data/js/jquery.min.js"></script>
        <script src="__PUBLIC__/admin/data/js/Ecalendar.jquery.min.js"></script>
        <script>
            $(function(){

                $('#goback').click(function () {

                    if(confirm("确认撤回？")){
                        return true
                    }else {
                        return false
                    }
                })

            });

            $(".userids").each(function(){
                var a = $(this).text()
                $(this).text(parseInt(a)+10000)
            });

            $(".userids2").each(function(){
                var a = $(this).text()
                $(this).text(parseInt(a)+10000)
            });
        </script>

        <script src="__PUBLIC__/admin/scripts/common.js" type="text/javascript"></script>
        <script src="__PUBLIC__/admin/scripts/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/admin/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/admin/scripts/flot/jquery.flot.js" type="text/javascript"></script>
        <script src="__PUBLIC__/admin/scripts/flot/jquery.flot.pie.js" type="text/javascript"></script>
        <script src="__PUBLIC__/admin/scripts/flot/jquery.flot.resize.js" type="text/javascript"></script>
        <script src="__PUBLIC__/admin/scripts/datatables/jquery.dataTables.js" type="text/javascript"></script>


    </body>
