<div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container " style="width: 95%">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                        <i class="icon-reorder shaded"></i></a><a class="brand" href="index.html">新版3D电玩城后台管理系统 </a>
                    <div class="nav-collapse collapse navbar-inverse-collapse">
                      
                        <ul class="nav pull-right">
                            <ul class="nav nav-icons">
                            

                            <li style="padding-top:20px;">当前管理员：

                            <span style="color:#09F; font-size:14px">{$Think.session.admin} ，<a href="{:U('System/update_pwd')}">修改密码</a></span>
                       
                           </li>
                        </ul>
                        
                        </ul>
                    </div>
                    <!-- /.nav-collapse -->
                </div>
            </div>
            <!-- /navbar-inner -->
        </div>
        <!-- /navbar -->