<include file="./Application/Admin/View/public/header.html" title="后台主页" />

<body>
<include file="./Application/Admin/View/public/nav.html"  />

<div class="wrapper" >
    <div class="container" style="width: 95%">
        <div class="row">
            <include file="./Application/Admin/View/public/left.html"  />
            <div class="span9" style="width: 82%">
                <div class="content">
                    <h1>欢迎使用本系统！</h1>
                    <!--/#btn-controls-->

                </div>
                <!--/.content-->
            </div>
            <!--/.span9-->
        </div>
    </div>
    <!--/.container-->
</div>
<!--/.wrapper-->
<div class="loading_tip" style="width: 400px; text-align: center; display: none; position: fixed;top:0;left: 40%; background-color: #fff; padding: 30px; border: #999999 2px solid;">

    页面加载中。。。
</div>
<include file="./Application/Admin/View/public/footer.html"  />

</body>
