<include file="./Application/Admin/View/public/header.html" title="登录记录" />
    <body>
        <include file="./Application/Admin/View/public/nav.html"  />
        <div class="wrapper">
            <div class="container" style="width: 95%">
                <div class="row">
                    <include file="./Application/Admin/View/public/left.html"  />
                    <!--/.span3-->
                    <div class="span9" style="width: 82%">
                        <div class="content">
                        <div class="module">
							<div class="module-head">
								<h3>登录记录</h3>
							</div>
							<div class="module-body table">
                                <form method="get" action="{:U('System/do_log',array('tid'=>1))}" name="ctr_record">
                                    <div class="case" style="padding-left: 15px; margin-bottom: 10px; font-size: 13px">
                                        管理员：
                                        <input type="text" name="admin"  style="width:150px;height:25px;"/>

                                        <input type="submit" class="btn btn-mini btn-info godate" value="搜索管理员"/>
                                    </div>
                                </form>


								<table cellpadding="0" cellspacing="0" border="0" class=" table table-bordered table-striped display" width="100%">
									<thead>
										<tr>
											<th>管理员</th>
                                            <th>操作时间</th>
                                            <th>IP</th>
                                            <th>结果</th>
                                            <th>备注</th>
                                            <th>操作</th>

                                        </tr>
									</thead>
									<tbody>

                                    <notempty name="data">
                                    <foreach name="data" item="vo">                                    <tr >

                                        <td>{$vo.logname}</td>
                                        <td>{$vo.dodate}</td>
                                        <td>{$vo.doip}</td>
                                        <td>{$vo.res}</td>
                                        <td>{$vo.remark}</td>
                                        <td><a href="__URL__/ban_ip?ip={$vo.doip}">锁定IP</a>，<a href="__URL__/unlock_ip?ip={$vo.doip}">解锁IP</a></td>


                                    </tr>
                                    </foreach>
                                        <else/>
                                        <td colspan="9">没有数据，请输入一个管理员名称！</td>
                                    </notempty>

									</tbody>

								</table>
                                <div class="pages" style="">{$page}</div>
							</div>
						</div><!--/.module-->

                           </div> 
                        <!--/.content-->
                        <!--<a class="btn btn-mini btn-info" href="add_admin">添加管理员</a>-->
                    </div>
                    <!--/.span9-->
                    
                   
                </div>
            </div>
            <!--/.container-->
        </div>
        <!--/.wrapper-->
         <include file="./Application/Admin/View/public/footer.html" name="管理员(请谨慎操作)？"/>
      
    </body>
