<include file="./Application/Admin/View/public/header.html" title="房间配置" />
    <body>
        <include file="./Application/Admin/View/public/nav.html"  />
        <div class="wrapper">
            <div class="container" style="width: 95%">
                <div class="row">
                    <include file="./Application/Admin/View/public/left.html"  />
                    <!--/.span3-->
                    <div class="span9" style="width: 82%">
                        <div class="content">
                        <div class="module">
							<div class="module-head">
								<h3>房间配置</h3>
							</div>
							<div class="module-body table">


                                <div style="margin-left: 20px;">
                                <span style="padding-right: 55px;font-size: 15px">总输赢：<span style="color: red;font-weight: bolder">{$other.room_sum_win}</span></span>
                                <span style="padding-right: 55px;font-size: 15px">总血池：<span style="color: red;font-weight: bolder">{$other.all_blood}</span></span>
                                <span style="padding-right: 55px;font-size: 15px">当日输赢：<span style="color: red;font-weight: bolder">{$other.today_win}</span></span>
                                <span style="padding-right: 55px;font-size: 15px">当日吃分：<span style="color: red;font-weight: bolder">{$other.today_eat}</span></span>
                                <span style="padding-right: 55px;font-size: 15px">当日吐分：<span style="color: red;font-weight: bolder">{$other.today_out}</span></span>



                                    <span style="padding-right: 55px; font-size: 15px">当日吞吐率：<span style="color: red;font-weight: bolder">{$other.today_rate}</span></span>
                                    <span style="padding-right: 55px; font-size: 15px">当日总税收：<span style="color: red;font-weight: bolder">{$other.today_sum_tax}</span></span>
                                    <span style="padding-right: 55px; font-size: 15px">当日总控制血池：<span style="color: red;font-weight: bolder">{$other.today_sum_blood}</span></span>

                                </div>

                                <button class="btn btn-large  btn-primary" id="room_cheat" style="margin: 10px 0px 10px 20px; padding: 5px 10px 5px 10px">修改房间剩余血池</button>
                                <button class="btn btn-large  btn-primary" id="room_balance" style="margin: 10px 0px 10px 20px; padding: 5px 10px 5px 10px">修改房间平衡值</button>

                                <a href="{:U('System/do_log',array('tid'=>7))}" class="btn btn-large  btn-primary"  style="margin: 10px 0px 10px 20px; padding: 5px 10px 5px 10px">修改房间血池记录</a>
                                <a href="{:U('System/do_log',array('tid'=>8))}" class="btn btn-large  btn-primary"  style="margin: 10px 0px 10px 20px; padding: 5px 10px 5px 10px">修改房间平衡值记录</a>

								<table cellpadding="0" cellspacing="0" border="0" class="datatable-1 table table-bordered table-striped	 display" width="100%">
									<thead>
										<tr>
											<th>房间ID（点击查看血池变化）</th>
                                            <th>房间名</th>
											<th>总输赢</th>
                                            <th>当日输赢</th>
                                            <th>点控血池</th>
                                            <th>总税收</th>
                                            <th>当日税收</th>
                                            <th>血池平衡值</th>
                                            <th>当前剩余血池</th>
                                            <th>状态</th>
                                            <th>吐分率</th>
                                            <th>作弊率</th>
                                            <th>作弊限额</th>

                                        </tr>
									</thead>
									<tbody>
                                    <foreach name="data" item="vo">                                    <tr >
                                        <td><a href="__APP__/Admin/Graph/room_blood?roomid={$vo.serverid}">{$vo.serverid}</a></td>
                                        <td>{$vo.roomname}</td>
                                        <td>{$vo.realscore}</td>
                                        <td>{$vo.today_score}</td>
                                        <td>{$vo.cheat_blood}</td>
                                        <td>{$vo.revenuerecord}</td>
                                        <td>{$vo.today_tax}</td>
                                        <td>{$vo.maxeatscore}</td>
                                        <td>{$vo.bloodscore}</td>
                                        <td><if condition="$vo.cheatrate gt 0">
                                            <span style="color: red">系统吃分</span>
                                            <else/>
                                            <span style="color: green">系统吐分</span>
                                            </if>
                                        </td>
                                        <td>{$vo.out_rate}</td>
                                        <td>{$vo.cheatrate}</td>
                                        <td>{$vo.maxeatscore}</td>

                                        <!--<td>{$vo.time|date="Y-m-d H:i:s",###}</td>-->
											<!--<td class="center"><a href="__URL__/update_admin?id={$vo.id}">修改</a>，<a href="__URL__/delete_admin?id={$vo.id}" class="del">删除</a></td>-->
											
										</tr>
                                    </foreach>
										
										
									</tbody>
									
								</table>
							</div>
						</div><!--/.module-->

                           </div> 
                        <!--/.content-->
                        <!--<a class="btn btn-mini btn-info" href="add_admin">添加管理员</a>-->
                    </div>
                    <!--/.span9-->
                    
                   
                </div>
            </div>
            <!--/.container-->
        </div>
        <!--/.wrapper-->


        <!--修改房间血池-->
        <div class="room_cheat_tip" style="width: 300px; text-align: left; display: none; position:fixed;top:0;left: 40%; background-color: #fff; padding: 30px; border: #999999 2px solid;">

            <div class="alert ts" style="display: none">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>提示：</strong><span class="tip"></span>
            </div>

            <form class="form-horizontal row-fluid" method="post" action="__URL__/do_room_cheat" name="do_room_cheat">



                <div class="control-group">

                    <h3>修改房间血池</h3>


                    <label class="radio-inline">
                        <b>游戏房间：</b>
                        <select name="roomid">
                            <foreach name="data" item="vo">
                                <option value="{$vo.serverid}" >{$vo.roomname}</option>
                            </foreach>

                        </select>
                    </label><br>

                    <label class="radio-inline">
                        <b>修改血池：</b>
                        <input type="number" name="cheat" placeholder="正数为添加，负数为减少"/>
                    </label>



                </div>

                <div class="control-group">
                    <div class="controls">
                        <input type="button" value="修改" class="btn btn-mini btn-info go_room_cheat"/> <button type="button" class="btn btn-mini cls_tip" >关闭</button>
                    </div>
                </div>
            </form>
        </div>



        <!--修改平衡值-->
        <div class="room_balance_tip" style="width: 300px; text-align: left; display: none; position:fixed;top:0;left: 40%; background-color: #fff; padding: 30px; border: #999999 2px solid;">

            <div class="alert ts" style="display: none">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>提示：</strong><span class="tip"></span>
            </div>

            <form class="form-horizontal row-fluid" method="post" action="__URL__/do_room_balance" name="do_room_balance">

                <div class="control-group">

                    <h3>修改房间平衡值</h3>

                    <label class="radio-inline">
                        <b>游戏房间：</b>
                        <select name="roomid">
                            <foreach name="data" item="vo">
                                <option value="{$vo.serverid}" >{$vo.roomname}</option>
                            </foreach>

                        </select>
                    </label><br>

                    <label class="radio-inline">
                        <b>修改平衡值：</b>
                        <input type="number" name="balance" placeholder="正数为添加，负数为减少"/>
                    </label>

                </div>

                <div class="control-group">
                    <div class="controls">
                        <input type="button" value="修改" class="btn btn-mini btn-info go_room_balance"/> <button type="button" class="btn btn-mini cls_tip" >关闭</button>
                    </div>
                </div>
            </form>
        </div>



        <div class="footer">
            <div class="container" style="width: 95%">
                <b class="copyright">&copy; 2018 后台管理系统 - 技术支持RyanLiu </b> - 备案信息：xxxxxxxx号
            </div>
        </div>
        <script src="__PUBLIC__/admin/scripts/jquery-1.9.1.min.js" type="text/javascript"></script>


        <script src="__PUBLIC__/admin/data/js/jquery.min.js"></script>
        <script src="__PUBLIC__/admin/data/js/Ecalendar.jquery.min.js"></script>
        <script>
            $(function(){
                $('#room_cheat').click(function () {
                    $('.room_cheat_tip').fadeIn(200).animate({top:'30%'},270);
                    $('.wrapper').animate({opacity:'0.5'},300);
                })

                $('#room_balance').click(function () {
                    $('.room_balance_tip').fadeIn(200).animate({top:'30%'},270);
                    $('.wrapper').animate({opacity:'0.5'},300);
                })



                $('.cls_tip').click(function () {
                    $('.room_cheat_tip').animate({top:'0'},300).fadeOut(200)
                    $('.room_balance_tip').animate({top:'0'},300).fadeOut(200)

                    $('.wrapper').animate({opacity:'1'},300);
                    $(".ts").hide(80)
                })


                $('.go_room_cheat').click(function () {
                    $(".ts").show(80);
                    $(".ts").removeClass('alert-error');
                    $(".ts").addClass('alert-success');
                    $(".tip").text("修改成功！");
                    $('form[name="do_room_cheat"]').submit();
                })

                $('.go_room_balance').click(function () {
                    $(".ts").show(80);
                    $(".ts").removeClass('alert-error');
                    $(".ts").addClass('alert-success');
                    $(".tip").text("修改成功！");
                    $('form[name="do_room_balance"]').submit();
                })





            });
        </script>

        <script src="__PUBLIC__/admin/scripts/common.js" type="text/javascript"></script>
        <script src="__PUBLIC__/admin/scripts/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/admin/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/admin/scripts/flot/jquery.flot.js" type="text/javascript"></script>
        <script src="__PUBLIC__/admin/scripts/flot/jquery.flot.pie.js" type="text/javascript"></script>
        <script src="__PUBLIC__/admin/scripts/flot/jquery.flot.resize.js" type="text/javascript"></script>
        <script src="__PUBLIC__/admin/scripts/datatables/jquery.dataTables.js" type="text/javascript"></script>


    </body>
